#root {
  max-width: 1600px;
  margin: 0 auto;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

.navbar-logo a {
  text-decoration: none;
  font-size: 24px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
}

.navbar-menu .dropdown {
  position: relative;
  display: inline-block;
}
.dropdown img{
  margin: auto 0;
}

.navbar-menu .dropdown .dropbtn {
  background-color: #fff;
  padding: 10px 5px 10px 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.navbar-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar-menu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar-menu .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.navbar-menu .dropdown:hover .dropdown-content {
  display: block;
}
.login-btn, .signup-btn {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.signup-btn {
  background-color: #ff6347;
  color: #fff;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: black;
}

/* Banner */

.banner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.banner-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner-text h1{
  font-size: 50px;
  margin: 0;
}
.banner-text p{
  margin: 0;
}

.banner .input-div{
  background-color: #F6F6F6;
  height: 53px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 56px;
}

.banner input{
  width: 60%;
  margin-left: 9px;
  border: 0;
  background-color: #F6F6F6;
}

.banner-app{
  display: flex;
  justify-content: start;
  gap: 20px;
  
}

.banner-app img{
  height: 80%;
}

.banner-img{
  background-color: #F2EBDA;
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 36px;
}
.banner-img div {
  height: 90%;
}

.banner-img img{
  height: 100%;
  width: auto;
}

.orders {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.orders span{
  color: #FF5331;
}

.food{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
  gap: 35px;
}

.food-card{
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  border-radius: 30px;
  font: bolder;
  font-weight: 500;
  flex-grow: 0;
}
.food-img{
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  
}

.food-img img{
  height: 55px;
}

.food-card-right {
  background-color: #f6f6f6;
  padding: 25px 25px 0;
  text-align: start;
  font-size: 20px;
  border-radius: 25px;
}

.food-card-right .span1{
  color: #FF5331;
}
.food-card-right .span2{
  color: #009B00;
}

.food-right-bike{
  display: flex;
  justify-content: end;
}

.food-bottom{
  margin-top: 20px;
  margin-left: 60px;
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
  gap: 35px;
}

.food-card-left{
  background-color: #fff;
  padding:0;
  text-align: start;
  font-size: 20px;
  border-radius: 25px;
}

.food-left-icon{
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.how-to-order{
  margin: 80px 0;
  text-align: center;
}

.order-container {
  display: flex;
  justify-content: space-evenly;
}

.options{
  /* background-color: #ff6347; */
  position: relative;
  padding-top: 18px;
  
}

.options h1{
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
  color: #FF5331;
}

.option-card {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 34px 15px;
  border-radius: 16px;
  width: 60%;
}

.option-card div{
  background-color: #fff;
  padding: 5px;
  border-radius: 16px;
}

.feedback{
  margin: auto;
  width: 60%;
  text-align: center;
}

.feedback-card{
  margin: 35px 0;
  display: flex;
  flex-direction: column;
  gap: 2em
}

.feedback-card img{
  height: 50px;
}

.arrow{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.newsletter{
  margin: 80px 0 0 0;
  background-color: #FFEFEC;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0;
  overflow: hidden;
  flex-wrap: wrap;
}

.newsletter .input-div{
  background-color: #F6F6F6;
  height: 53px;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 56px;
}

.newsletter input{
  width: 60%;
  margin-left: 9px;
  border: 0;
  background-color: #F6F6F6;
}


ul{
  list-style: none;
}

.footer{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  overflow: hidden;
  margin: 0;
}

.footer-top{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
}
.footer-logo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 230px;
}

.footer-logo a img{
  height: 40px;
}

.footer-top .head{
  color: #fff;
  font-size: 17.756px;
  padding-bottom: 5px;

}

.footer-top li{
color: #B5B2B2;
}
.foter-bottom {
  display: flex;
  justify-content: space-around;
  margin: 100px 50px;
  flex-wrap: wrap;
}

.foter-bottom div{
  margin: auto;
}

.foter-bottom div ul{
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .navbar{
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .navbar-menu, .navbar-buttons {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .navbar-menu.active, .navbar-buttons.active {
    display: flex;
    flex-direction: column;
  }

  .navbar-menu a {
    padding: 10px;
    width: 100%;
  }

  .navbar-buttons {
    margin-top: 10px;
  }

  .hamburger {
    display: block;
  }

  .order-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.banner{
  flex-direction: column;
}

.banner .banner-text{
  width: 100%;
  text-align: center;
  gap: 30px;
}

.banner-text .input-div, .banner-text .banner-app{
  margin: 10px auto;
}

.banner-img{
  width: 90%;
  margin: 10px auto;
}

.banner-img img{
height: 300px;
}


.food{
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.order-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.option-card{
  width: 100%;
}

.food-bottom{
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

  .newsletter{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .newsletter .input-div{
    width: 50%;
  }
  
  .footer-top div{
    margin-right: 30px;
  }
  .footer-logo{
    align-items: center;
  }
  .footer-bottom{
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
  }

  .foter-bottom div ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}



}
